 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .main-cont {
            width: 100%;
            height: 100vh;
            padding: 20px;
            background-color: rgb(125, 64, 187);
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;


        }

        .techno {
            text-align: center;
            padding: 20px;
            width: 300px;

        }

        .techno h2 {
            padding: 10px;
            color: aqua;
       
        }

        .techno p {
            color: white;
        }

        .tech-tags-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .tech-tag {
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            color: rgb(76, 20, 205);
            border: 1px solid rgb(2, 4, 97);
            border-radius: 10px;
        }
        .tech-tag:hover{
            background-color: rgb(95, 54, 160);
            color: white;
        }




